<li>
	{{post}}

	<button class="" data-id="{{id}}" data-newpost="{{newpost}}">
		{{#if example}}...{{else}}...{{/if}}
	</button>

	<button class="delete-post" data-id="{{this.id}}">...</button>
</li>


{{!-- still working on getting these partials in --}}
