
	{{post}}

	<button class="" data-id="{{id}}" data-newpost="{{newpost}}">
		{{#if example}}...{{else}}...{{/if}}
	</section>
  <section class="color-1">
    <nav class="cl-effect-8">
      <a href="#">Imbue</a>
	</section>
	</button>

	<button class="delete-post" data-id="{{this.id}}">...</button>



{{!-- still working on getting these partials in --}}
