<li>
	{{search}}

	<button class="" data-id="{{id}}" data-newsearch="{{newsearch}}">
		{{#if example}}...{{else}}...{{/if}}
	</button>

	<button class="delete-search" data-id="{{this.id}}">...</button>
</li>

{{!-- still working on getting these partials in --}}
